[Desktop Entry]
Encoding=UTF-8
Name=Link to Link Prediction | Link Prediction in Social Networks
Type=Link
URL=https://www.analyticsvidhya.com/blog/2020/01/link-prediction-how-to-predict-your-future-connections-on-facebook/
Icon=text-html
