[Desktop Entry]
Encoding=UTF-8
Name=Link to muhanzhang/LinkPrediction: Code for "M. Zhang, Y. Chen, Weisfeiler-Lehman Neural Machine for Link Prediction, KDD 2017"
Type=Link
URL=https://github.com/muhanzhang/LinkPrediction
Icon=text-html
Name[en_US]=link1
