[Desktop Entry]
Encoding=UTF-8
Name=Link to Link Prediction Methods and Their Accuracy for Different Social Networks and Network Metrics
Type=Link
URL=https://www.hindawi.com/journals/sp/2015/172879/
Icon=text-html
Name[en_US]=link2
