[Desktop Entry]
Encoding=UTF-8
Name=Link to Neural networks for link prediction in realistic biomedical graphs: a multi-dimensional evaluation of graph embedding-based approaches | BMC Bioinformatics | Full Text
Type=Link
URL=https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-018-2163-9
Icon=text-html
